/* the bit that has the logo at the top of the page */
.TopBarCls {
    background-color: #A8D024;
    background-image:url('../Resources/bird.svg');
    background-repeat: no-repeat; }

/* this is visible behind the tabs at the top */
.MainViewCls {
    background-color: #CFE77E; }

/* prevents the tabs from being squished */
.x-tab-bar-top .x-tab-bar-body {
    height: 55px !important; }

/*position strip from top rather than bottom to avoid off-by-one error in IE6 */
.x-tab-bar-top .x-tab-bar-strip {
  top: 52px !important; }

/* makes the tabs rounded; preserved for future use if needed */
/*.x-tab-default-top {
  height: 48px !important;
  -moz-border-radius-topleft: 6px !important;
  -webkit-border-top-left-radius: 6px !important;
  -ms-border-top-left-radius: 6px !important;
  -khtml-border-top-left-radius: 6px !important;
  border-top-left-radius: 6px !important;
  -moz-border-radius-topright: 6px !important;
  -webkit-border-top-right-radius: 6px !important;
  -ms-border-top-right-radius: 6px !important;
  -khtml-border-top-right-radius: 6px !important;
  border-top-right-radius: 6px !important;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  -ms-border-bottom-right-radius: 0;
  -khtml-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -ms-border-bottom-left-radius: 0;
  -khtml-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 10px 10px 10px 10px;
  border-width: 1px 1px 0 1px;
  border-style: solid; }*/
  
/* format the tabs at the top of the screen */
  .x-tab {
      background-color: #9F1B82;
      border-color: #670952;
      height: 48px !important;
      white-space: nowrap;
      height: 27px;
      cursor: pointer; }

  /* format the content of aforementioned tabs */
  .x-tab button .x-tab-inner {
      display: block;
      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      overflow: hidden;
      color: #CF71BA }

  /* make tabs change color when hovered */
  .x-tab:hover {
      background-color: #772D67 !important;}

  /* prevent tab content from being squished */
  .x-tab-default-top .x-tab-inner {
    height: 30px;
    line-height: 30px; }
