/* ::::: http://mcguirefinearts.com/stylesheets/mfa_main.css ::::: */

h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol, li, table, tr, th, td, form, img, a, div { margin: 0px; padding: 0px; border: 0px none; list-style: none outside none; font-weight: normal; }
body { margin: 0px auto; padding: 0px; font-size: 13px; font-family: Arial,Helvetica,sans-serif; color: rgb(28, 24, 24); background: url('body_bg.jpg') repeat-x scroll 0px 0px rgb(9, 10, 47); text-align: center; line-height: 150%; }
a { color: rgb(179, 89, 0); }
a:hover { color: rgb(211, 28, 40); }
p { margin: 10px 0px; line-height: 150%; }
h1 { color: rgb(135, 0, 0); font-size: 180%; font-weight: bold; line-height: 120%; font-family: Georgia,"Times New Roman",Times,serif; }
h2 { color: rgb(0, 0, 99); font-size: 140%; font-weight: bold; }
h3, h3 a { color: rgb(135, 0, 0); font-size: 130%; font-weight: bold; margin: 0px; text-decoration: none; }
#header { background: url('header_logo_new.gif') no-repeat scroll 0px 0px rgb(248, 248, 248); height: 91px; border-bottom: 4px solid rgb(179, 89, 0); }
#home { width: 169px; height: 91px; float: left; }
#home a { display: block; width: 100%; height: 91px; text-decoration: none; }
#nav_container { background: url('header_nav_fancy.jpg') no-repeat scroll 0px 0px rgb(248, 248, 248); float: left; height: 91px; width: 726px; }
#nav { margin-top: 70px; }
#nav div.navigation { float: left; font-size: 16px; font-weight: bold; margin: 0px; padding: 1px 12px 2px; border-right: 1px solid rgb(179, 89, 0); }
#nav div#nav_guest_list.navigation { border: medium none; padding-right: 0px; }
#nav div.navigation.last { margin-right: 0px; }
#nav div.navigation.first {  }
#nav div.navigation a { text-decoration: none; color: rgb(0, 0, 99); font-weight: bold; }
#nav div.navigation a:hover { text-decoration: none; color: rgb(154, 78, 4); }
#container { width: 895px; margin: 0px auto; background: url('container_bg.jpg') repeat-x scroll left bottom rgb(245, 246, 246); border-left: 4px solid rgb(179, 89, 0); border-right: 4px solid rgb(179, 89, 0); border-bottom: 4px solid rgb(179, 89, 0); box-shadow: 0px 0px 6px rgb(9, 10, 47); }
#left_column { float: left; width: 150px; text-align: left; padding: 0px; margin: 0px; }
#guestlist { background: url('guestlist_bg.jpg') repeat-x scroll left bottom rgb(254, 243, 232); border-width: 2px 2px 2px medium; border-style: solid solid solid none; border-color: rgb(237, 189, 140) rgb(237, 189, 140) rgb(237, 189, 140) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; margin: 70px 0px 0px; padding: 15px 0px; line-height: 100%; }
#guestlist p { background: url('guestlist_ornament.gif') no-repeat scroll 3px 2px transparent; padding: 0px 8px 2px 28px; font-size: 95%; margin: 0px; }
#guestlist h3 { font-size: 95%; color: rgb(135, 0, 0); font-weight: bold; font-family: Georgia,"Times New Roman",Times,serif; margin: 0px 7px 5px; text-decoration: none; }
#facebook-like { margin: 20px 0px 0px; width: 148px; border-width: 2px 2px 2px medium; border-style: solid solid solid none; border-color: rgb(144, 192, 240) rgb(144, 192, 240) rgb(144, 192, 240) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background-color: rgb(226, 240, 254); }
#facebook-like h3 { font-size: 95%; color: rgb(0, 0, 99); font-weight: bold; font-family: Georgia,"Times New Roman",Times,serif; margin: 8px 0px 8px 7px; text-decoration: none; }
#content { float: left; width: 483px; text-align: center; padding-bottom: 20px; }
#container #insert { width: 417px; margin: 0px auto; padding-top: 25px; text-align: left; }
#guest_list #content, #index #content { float: left; width: 683px; text-align: center; }
#guest_list #container #insert, #index #container #insert { width: 625px; margin: 0px auto; padding-top: 25px; text-align: left; }
div.event { color: rgb(0, 0, 51); margin: 5px 0px 0px; border-top: 2px solid rgb(144, 192, 240); padding: 15px 0px; clear: both; }
div.event img { float: left; border: 1px solid rgb(144, 192, 240); margin: 0px 10px 5px 0px; }
#footer { color: rgb(173, 214, 255); font-size: 95%; width: 870px; margin: 0px auto; padding: 12px 0px; }
#footer p { margin: 0px; }
#footer a { color: rgb(173, 214, 255); }
#footer a:hover { color: rgb(179, 89, 0); }
#footer_left { text-align: left; width: 550px; float: left; border-right: 1px solid rgb(173, 214, 255); }
#footer_right { width: 300px; text-align: left; float: right; }
.clear, img.clear { clear: both; display: block; margin: 0px; padding: 0px; height: 1px; }
.hidden { visibility: hidden; }
a.normal { text-decoration: none; color: rgb(0, 0, 0); }
